<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/app.css">
  <title>Reel Reviews</title>

<header>
    <h1 id="title">Reel Reviews</h1>
    <div class="bar1">
      <div id="new">
    ||<a id="newLink" href="/movies/new">Create your own review
  </a>||
    </div>
    </div>
    </header>
</head>