<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/app.css">
  <title>Reel Reviews</title>
<header>
  <a href="/movies">
  <img id="logo" src='https://i.imgur.com/SffhBfh.png'>
</a>
  <nav>
    <ul class="navBar">
      <li>
        <a class="navOp" href="/movies/new">Create A Review</a>
        <a class="navOp" href="/users/register">Create Account</a>
        <a class="navOp" href="/users/login">Login</a>
      </li>
    </ul>
  </nav>
</header>
</head>