<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Home</title>
  <header id="homeHeader">
    <a href="/">
    <img id="logo" src='https://i.imgur.com/SffhBfh.png'>
  </a>
    <nav>
      <ul class="navBar">
        <li>
          <a class="navOp" href="/movies">Movies</a>
          <a class="navOp" href="/movies/new">Create A Review</a>
          <a class="navOp" href="/users/register">Create Account</a>
          <a class="navOp" href="/users/login">Login</a>
          <a class="navOp" href="/users/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  </head>
<body class="home">
  <h1 class="homeTitle">Welcome to Reel Reviews<br>where the reviews come from real people!<br>Just like you!</h1>
  <img id="homeImg" src="https://res.cloudinary.com/jerrick/image/upload/c_scale,f_jpg,q_auto/ddgpnwcmo6vy5pfjqibb.png">

  <form action="/movies">
    <button id="begin" type="begin">Start Browsing</button>
</form>

<h3 class="flagStatment">The goal of Reel Reviews has always been to help you get connected with your next favorite movie. This can only be acheive by adding to our ecosystem of ever growing movie reviews! So please make an account with us and begin discovering and helping others discover their next movie obsession.</h3>
</body>
</html>