<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head.ejs') %>
	<body>
		


		<h1 class="formTitle">New Movie Review</h1>
    <form class="form" action="/movies" method="POST">

      Title <input id="newTitle" type="text" name="title" /><br />


      <div id="newSpace">
      Genre <input id="newGenre" type="text" name="genre" /><br />
      <label>Please just put one combo of genres. i.e. Drama/Comedy</label>
      </div>
      
      <div id="newSpace">
      Review <textarea name="review" placeholder="Please write your review here."></textarea>
      </div>

      <div id="newSpace">
      Similar To 
      <input id="newSim" type="text" name="similarTo" /><br />
      <label>Please put full movie titles here.</label>
      </div>

      <div id="newSpace">
      Streaming On <input id="newStream" type="text" name="streamingOn" placeholder="Hulu, Netflix, HBO Max" /><br />
      <label>If there are no streaming services currently, leave this field blank.</label>
      </div>

      <div id="newSpace">
      Tags <input id="newTags" type="text" name="tags" /><br />
      <label>Enter some key words to describe this movie.</label>
      </div>

      Image <input type="text" name="img" placeholder="Place a valid image url here." /><br />



      <button id="createBtn" type="newReview">Post Review</button>
      
    </form>
		
	</body>
	</body>
</html>