<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head.ejs') %>
	<body>
		


		<h1 class="formTitle">New Movie Review</h1>
    <form class="form" action="/movies" method="POST">

      Title <input id="newTitle" type="text" name="title" /><br />

      Genre <input id="newGenre" type="text" name="genre" placeholder="Please just put one combo of genres. i.e. Drama/Comedy" /><br />

      Review <textarea name="review" placeholder="Please write your review here."></textarea>

      Similar To <input id="newSim" type="text" name="similarTo" placeholder="Please put full movie titles here." /><br />

      Streaming On <input id="newStream" type="text" name="streamingOn" placeholder="Hulu, Netflix, HBO Max" /><br />

      Tags <input id="newTags" type="text" name="tags" placeholder="Enter some key words to describe this movie." /><br />

      Image <input type="text" name="img" placeholder="Place a valid image url here" /><br />



      <button id="createBtn" type="newReview">Post Review</button>
      
    </form>
		
	</body>
	</body>
</html>