@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


#logo {
  background-repeat: no-repeat;
  float: left;
  padding-left: 10px;
  padding-top: 15px;
  height: auto;
  width:48%;
  margin-bottom: 30px;
}


header {
  background-color: rgba(21, 21, 21, .3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 75px;
  padding-top: 10px;
}

#homeHeader {
  background-color: rgba(118, 152, 179, .3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 75px;
  padding-top: 10px;
}

.home {
  margin: 0;
  background-color: rgba(14, 19, 31, 1);
}

#homeImg {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px 8px #1d2739;
}

.homeTitle {
  font-family: 'Quicksand', sans-serif;
  color: #FAEDE3;
  font-size: 35px;
  text-align: center;
}

#begin {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  color:#FAEDE3;
  font-size: 25px;
  font-weight: 900;
  width: 200px;
  background-color: rgb(83, 221, 108);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.flagStatment {
  font-family: 'Quicksand', sans-serif;
  color: #FAEDE3;
  font-size: 28px;
  text-align: center;
}

.navOp {
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FCE44D;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding: 37px 30px 27px 30px;
}

.navOp:hover {
  background-color: rgba(21, 21, 21, .8);
}

li {
  list-style: none;
  display: inline-block;
}

nav {
  position: relative;
  text-align: right;
  width: 100%;
}

body {
  background-color: #1d2739;
  margin: 0px;
}

#reviewImg {
  position: relative;
  height: 300px;
  width: auto;
}

#reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  color: #FCE44D;
  padding: 0;
}


#reviewContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  margin-left: 10px;
}

.reviewsContainer {
  background-color: rgba(94, 97, 100, .3);
  display: flex;
  justify-content: space-between;
  border: 3px solid #435d8a;
  border-radius: 20px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px;
}

#showImg {
  height: 500px;
  width: auto;
}

#showParts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#reviewWords {
  display: flex;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #FAEDE3;
  background-color: rgba(94, 97, 100, .3);
  border: 3px solid #FCE44D;
  border-radius: 20px;
  margin-left: 10%;
  padding: 10px;
}

.reviewInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

#smalls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: #FAEDE3;
  background-color: rgba(94, 97, 100, .3);
  border: 3px solid #FCE44D;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 40px;
}

#showTitle {
  font-family: 'Quicksand', sans-serif;
  color: #FAEDE3;
  text-align: center;
}

#actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#editBtn {
  background-color: rgba(94, 97, 100, .3);
  color: #FAEDE3;
  border-radius: 15px;
  width:80px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 25px;
}

#editBtn:hover {
  background-color: rgb(83, 221, 108);
}

#deleteBtn {
  background-color: rgba(21, 21, 21, .8);
  color: #FAEDE3;
  border-radius: 15px;
  width:100px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 25px;
}

#deleteBtn:hover {
  background-color: rgba(186, 27, 29, .3);
}

#login {
  font-family: 'Quicksand', sans-serif;
  color: #FAEDE3;
  font-size: 25px;
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 20%;
  padding-top: 5%;
}

fieldset {
  border: 2px solid #FCE44D;
  border-radius: 15px;
  background-color: rgba(94, 97, 100, .3);
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  color: #FCE44D;
}

#loginBtn {
  background-color: rgba(94, 97, 100, .3);
  color: #FCE44D;
  border-radius: 15px;
  width:100px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 25px;
}

#loginBtn:hover {
  background-color: rgb(83, 221, 108);
  color:#FAEDE3
}

#loginAction {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

.form {
  border: 2px solid #FCE44D;
  border-radius: 15px;
  background-color: rgba(94, 97, 100, .3);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #FCE44D;
}

label {
  font-size: 14px;
}
#newSpace {
  margin-bottom: 15px;
}

#newTitle {
  margin-right: 86%;
}

#newGenre {
  width: 10.2%;
}

textarea {
  resize: none;
    height: 100px;
    width: 100%;
}

#newSim {
  width: 40%;
}

#newStream {
  width: 37.8%;
}

#newTags {
  width: 42.5%;
}

#newImg {
  width:50%;
}

.formTitle {
  font-family: 'Quicksand', sans-serif;
  color: #FAEDE3;
  font-size: 35px;
}

#createBtn {
  background-color: rgba(94, 97, 100, .3);
  color: #FCE44D;
  border-radius: 15px;
  width:200px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 25px;
}

#createBtn:hover {
  background-color: rgb(83, 221, 108);
  color:#FAEDE3
}

.registerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 20%;
  padding-top: 5%;
}

#registerBtn {
  background-color: rgba(94, 97, 100, .3);
  color: #FCE44D;
  border-radius: 15px;
  width:125px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 25px;
}

#registerBtn:hover {
  background-color: rgb(83, 221, 108);
  color:#FAEDE3
}

#registerAction {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}


#register {
  font-family: 'Quicksand', sans-serif;
  color: #FAEDE3;
  font-size: 25px;
}


.errorPage {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  font-family: 'Quicksand', sans-serif;
  color: #FAEDE3;
  font-size: 13px;
  background-color: rgba(21, 21, 21, .8);
}

p {
  text-align: center;
  margin-bottom: 0;
}