<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body class="logBody">
    <div class="loginPage">
      <div id="login">
        <h1>Login In</h1>
      </div>
        <form action="/users/login" method="POST">
          
          <fieldset>
            <label for="username">Username:</label>
            <input type="text" name="username">

            <label for="password">Password:</label>
            <input type="password" name="password">
          </fieldset>

        <div id="loginAction">
          <button id="loginBtn" type="login">Login</button>
        </div>

        </form>
      
  </div>

  <%- include ('../partials/footer.ejs') %>

  </body>
</html>